# Python cache
__pycache__/
*.py[cod]
*.pyo


# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db


# ignore all csv files (parquet is used instead)
*.csv

# track all .gz files with git lfs anywhere

# ignore any .xlsx files anywhere
*.xlsx

# parquet files live in S3 (use s3_sync.sh)
*.parquet

# virtual environment
.venv-main
.venv-subprocess